<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= user.name %>
</p>
<p>Current active sessions:</p>
<% if (sessions) {%>
    <% for (const i of sessions ) { %>

        <div class="sesh-box">
            <p>SessionID: <%= i.sessionID %>
            </p>
            <p>UserID: <%= i.UserID %>
            </p>
            <form action="/auth/revoke/<%= i.sessionID %>" method="post">
                <button type="submit">Revoke Session</button>
            </form>
        </div>

        <% } %>
            <% } %>