<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= user.name %>
</p>
<% if (sessions) {%>
    <p>Current active sessions</p>
    <p>SessionID:{}</p>
    <p>UserID:{}</p>
    <%} else {%>
        <a href="/auth/logout" class="btn btn-secondary">Logout</a>
        <%}%>